{{/* layouts/partials/comments.html */}}

{{- $page := . -}}
{{- $shortname := site.Config.Services.Disqus.Shortname -}}

{{- if $shortname -}}
  <div id="disqus_thread"></div>

  <script>
    var disqus_config = function () {
      this.page.url = {{ $page.Permalink | jsonify }};
      this.page.identifier = {{ $page.RelPermalink | jsonify }};
    };

    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://' + {{ $shortname | jsonify }} + '.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>

  <noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
{{- end -}}
